<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="31530bogascorp.Trakt.tvPreview" Version="1.7.83.0" Publisher="CN=2B6D14BA-8442-41D8-A554-07750E7405E9" />
  <mp:PhoneIdentity PhoneProductId="86b96971-3e5d-4fa2-95f6-6ed127f2abf0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Ornate Preview</DisplayName>
    <PublisherDisplayName>bogascorp</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.18362.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <uap:VisualElements DisplayName="Ornate Beta" Description="Track TV Shows and Movies on a simple and elegant app." BackgroundColor="#ED1C24" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" ShortName="Ornate Beta" Square310x310Logo="images\Square310x310Logo.png" Square71x71Logo="images\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" BackgroundColor="#111111" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://*.youtube.com" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="http://*.youtube.com" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="trakt">
            <uap:DisplayName>Trakt.tv uri handler</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.restrictedLaunch" />
        <Extension Category="windows.backgroundTasks" StartPage="worker.js">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>